<table id="channel_statuses" class="display" data-source="<%= "/channels/#{@channel.id}/list_channel_statuses" %>">
  <thead>
  <tr>
    <th><%= t('.channel_status') %></th>
    <th><%= t('.system_status') %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<div id="edit_channel_status_dialog" title="<%= t('.edit_channel_status') %>"></div>



