<div id='edit_address' class="">
  <input id='txtPostCodeSearch' value="<%= current_address.post_code %>">
  <button class="btn btn-primary" id='postcode_search'>Search</button>
  </br>

  <div id='pcaw_results' style="display: none;">

    </br><label for='selAddressList'>Address List:</label><select style="width: 400px;" id='selAddressList'></select>

    </br></br>
    <span id='confirm_company'></span></br>
    <span id='confirm_address_line_1'></span></br>
    <span id='confirm_address_line_2'></span></br>
    <span id='confirm_city'></span></br>
    <span id='confirm_county'></span></br>
    <span id='confirm_post_code'></span></br>
    <span id='confirm_country'></span></br>
    <span id='confirm_country_iso' style="display: none;"></span></br>
    </br></br>
    <button class="btn btn-primary" id='confirm_update_address'><<<<</button>
  </div>

</div>