<img src="http://my.ordermanager.biz/om_logo.png">
<br>
<%= raw @body.html_safe %>
<br>
<p>Be productive,</p> </br></br>

<p>ordermanager.biz</p>

<p>This email account is not monitored, please do not reply.</p>


