<div class="row">
  <div class="span4" style="float: none; margin:30px auto ;">
    <h3>System Requirements Check</h3>
    <table class=" table table-striped">
      <tbody>
      <tr>
        <td><strong>Browser</strong>:&nbsp;</td>
        <td>
          <div id="browserVersion"></div>
        </td>
        <td>
          <div id="browserError"></div>
        </td>
      </tr>
      <tr>
        <td><strong>Adobe Acrobat</strong>:&nbsp;</td>
        <td>
          <div id="adobeVersion"></div>
        </td>
        <td>
          <div id="adobeError"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




<%= javascript_include_tag 'requirementsDetection' %>